img {
  width: 100%;
}

.landing {
  position: relative;
  background-position: center;
  height: 80vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 150px;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.btn-toolbar {
  margin: 100 auto;
}

.fb-title,
.fa-user-circle,
.fa-user-tie,
.fa-university {
  color: #3b5998;
}

.fb-border {
  border: 2px solid #bbb;
  border-radius: 0.2rem;
}

.fb-border:hover {
  border: 2px solid #3b5998;
  border-radius: 0.2rem;
}

.blue-fb {
  color: #fff;
  background-color: #3b5998;
  border-radius: 0.2rem;
}

.blue-fb:hover {
  background: #8b9dc3;
  color: #fff;
}

.blue-fb-secondary {
  background: #8b9dc3;
  border: 1px solid #8b9dc3;
  color: white;
  border-radius: 0.2rem;
}

.blue-fb-secondary:hover {
  background: #8b9dc3;
  color: white;
}

.register,
.login,
.dashboard {
  margin-top: 80px;
}

.profileAction-btn {
  display: flex;
}
